{
  "*.(j|t)s(x)？": [
    "eslint --cache --fix --max-warnings=0",
    "prettier --parser=typescript --write --cache --ignore-unknown",
    "git add"
  ],
  "*.{less,sass,scss,json}": [
    "prettier --write --cache --ignore-unknown",
    "git add"
  ]
}