{
  "*.(?:[jt]sx?|mjs|cjs)": [
    "oxlint --fix",
    "biome lint --write .",
    "biome format --write --no-errors-on-unmatched",
    "git add"
  ],
  "*.{json,jsonc}": [
    "biome format --write --no-errors-on-unmatched",
    "git add"
  ],
  "*.{less,sass,scss}": [
    "prettier --write --cache --ignore-unknown",
    "git add"
  ]
}