{
	"sourceMaps": true,
	"jsc": {
		"minify": {
			"compress": {
				"unused": true,
				"drop_debugger": true,
				"drop_console": true,
				"pure_funcs": ["console.error", "console.warn"]
			},
			"mangle": true
		},
		"parser": {
			"syntax": "typescript",
			"tsx": true
		},
		"externalHelpers": true,
		"transform": {
			"react": {
				"runtime": "automatic"
			}
		}
	},
	"env": {
		"targets": {
			"chrome": "79"
		},
		"mode": "entry",
		"coreJs": "3.22"
	}
}
